/* You can add global styles to this file, and also import other style files */
body {
    margin: 0px;
}

main {
    min-width: 100%;
    min-height: 100%;
    display: flex;
    position: absolute;
}

.atomic-theme-impact main {
    background-color: red !important;
}